
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

h1,h2,h3,h4,h5,h6,p{
  font-family: verdana;
  font-style: ; /* Cursive */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
  text-align: center;
  }
  

header{
  width:920px;
  margin:0px auto;
}

header img{
	float:left;
	margin-top:10px;

}
header h1{
  font-family: "Bree Serif";
	color:white;
	background:;
	margin-left:30px;
	width:200px;
	float:left;
}

nav{
  width: 80%;
  height: 80px;
  margin: 10px auto 0px auto;
}

nav a{
  color:black;
}

nav a:hover{ /* How it looks when you hover with muose */
  color:red;
}

#current{ 
  text-decoration:underline;  
}

.navLink{
  position:relative;
  float:left;
  width:20%;  
  height:76px;
}

.container{
  position:relative;
  width: 50%;
  margin: 0px auto 0px auto; /* top right bottom left */
  border: 3px black solid; /* border-width border-color border-style*/
}
body {
        background-color:none;
        background-image:url("svart.jpg");
        background-size:100% 100%;
      }

      .flip-container {
  margin-right:125px;
  float:right;
  margin: 5px 200px 200px -200px;
  border: 3px none solid; /* border-width border-color border-style*/
  border-radius: 15px;
  background-color: none;
}

.Innehall{
  margin-left: 125px;
  float:left; 
  margin: 5px 200px 200px -200px;
  border: 3px none solid; /* border-width border-color border-style*/
  border-radius: 15px;
  background-color: none;

}


.Innehall h3{
  text-align: left;
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  border: 1px solid #ccc;
}

  .flip-container:hover .flipper,  
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 220px;
  height: 300px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
  
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0px;
  left: 0px;
  right: 300px;
}

.front {
  background: url(file:///C:/Users/admusr/Desktop/dasdasdasdasdas.jpg) 0 0 no-repeat;
  background: url(file:///C:/Users/admusr/Desktop/armani.jpg) 0 0 no-repeat;
  background: url(file:///C:/Users/admusr/Desktop/dasdasdasdasdas.jpg) 0 0 no-repeat;
  z-index: 2;

}


.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  background: #f8f8f8;

}

.front .name {
  font-size: 1em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 60px;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.back-logo {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 260px;
  height: 193px;
  background: url(jpg) 0 0 no-repeat;
}

.back-title {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 196px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.05em #acd7e5;
  font-family: Courier;
  font-size: 2em;
}

.back p {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}

.image{
  position: relative;
  width: 100%;

}


h2{
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}

