
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

h1,h2,h3,h4,h5,h6,p{
  font-family: verdana;
  font-style: ; /* Cursive */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
  text-align: center;
  }
  

header{
  width:920px;
  margin:0px auto;
}

header img{
	float:left;
	margin-top:10px;

}
header h1{
  font-family: "Bree Serif";
	color:white;
	background:;
	margin-left:30px;
	width:200px;
	float:left;
}

nav{
  width: 80%;
  height: 80px;
  margin: 10px auto 0px auto;
}

nav a{
  color:black;
}

nav a:hover{ /* How it looks when you hover with muose */
  color:red;
}

#current{ 
  text-decoration:underline;  
}

.navLink{
  position:relative;
  float:left;
  width:20%;  
  height:76px;
}

.container{
  position:relative;
  width: 50%;
  margin: 0px auto 0px auto; /* top right bottom left */
  border: 3px black solid; /* border-width border-color border-style*/
}
body {
        background-color:none;
        background-image:url("svart.jpg");
        background-size:100% 100%;
      }



.Innehall{
  margin-left: 125px;
  float:left; 
  margin: 5px 200px 200px -200px;
  border: 3px none solid; /* border-width border-color border-style*/
  border-radius: 15px;
  background-color: none;

}


.Innehall h3{
  text-align: left;
}

.produkter{
  padding: 85px 0px 0px 205px;
}

.visaProdukter{
  display:none;
}
.visaProdukter:target{
  display:block;
}

.itemContainer{
  float:left;
  background-color:grey;
  height:500px;
  width:400px;
  border:solid black 5px;
  margin:30px 0px 0px 30px;
  border-radius:0px;
}.itemContainer:hover{
    background-color:grey;
}

.itemPicture{
  height:250px;
  width:375px;
  margin:10px 0px 0px 10px;
  border:solid black 2px;
  border-bottom:0px;
  border-radius:0px 0px 0px 0px;
}
.itemPicture img{
  height:250px;
  width:375px;
  border-radius:0px 0px 0px 0px;
}

.itemName{
  background-color:grey;
  height:15px;
  width:166px;
  margin-left:10px;
  padding:30px 120px 0px 95px;
  border-top:solid black 2px;
 
}
.itemName p{
  margin:0px 0px 0px 0px;
  text-align:center;
  font-weight:bold;
  font-size:25px;
}

.itemInfoBox{
  background-color:grey;
  height:70px;
  width:166px;
  margin:0px 0px 0px 10px;
  padding:70px 100px 0px 95px;
}
.itemInfoBox p{
  margin:0px;
  word-break:break-all;
}


.itemPrice{
  background-color:grey;
  float:left;
  height:46px;
  width:112px;
  border-radius:0px 0px 0px 5px;
}
.itemPrice p{
  color:black;
  margin:12px 0px 0px 0px; /* To center text vertically */
  text-align:center;
  font-size:16px;
  font-weight:bold;
}

.itemButtonContainer{
  background-color:grey;
  width:166px;
  height:46px;
  margin:0px 0px 0px 10px;
  padding:0px 120px 0px 95px;
}

.itemBuyButton{
  margin:7px 0px 5px 0px;
  float:right;
  height:30px;
  width:50px;
  color:black;
  border:solid black 2px;
  background-color:white;
  border-radius:5px;
}
.itemBuyButton:hover{
  background-color:rgb(80,180,80);
}
.itemBuyButton :active {
  color:red;
} 
.itemBuyButton p{
  margin:0px 0px 0px 0px;
  text-align:center;
  font-size:25px;
}



.image{
  position: relative;
  width: 100%;

}


h2{
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  color:white;
}

h5 {
  position: absolute;
  top: 150px;
  left:0;
  width:100%;
  font-size:30px;
  font-family: 'Brush Script MT', cursive;
  color:white;
}

h3 {
  position: absolute;
  top:450px;
  bottom: 500px;
  width:100%;
  font-size:30px;
  color:white;
}
