
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

h1,h2,h3,h4,h5,h6,p{
  font-family: verdana;
  font-style: ; /* Cursive */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
  text-align: center;
  }
  

header{
  width:920px;
  margin:0px auto;
}

header img{
	float:left;
	margin-top:10px;

}
header h1{
  font-family: "Bree Serif";
	color:white;
	background:;
	margin-left:30px;
	width:200px;
	float:left;
}

nav{
  width: 80%;
  height: 80px;
  margin: 10px auto 0px auto;
}

nav a{
  color:black;
}

nav a:hover{ /* How it looks when you hover with muose */
  color:red;
}

#current{ 
  text-decoration:underline;  
}

.navLink{
  position:relative;
  float:left;
  width:20%;  
  height:76px;
}

.container{
  position:relative;
  width: 50%;
  margin: 0px auto 0px auto; /* top right bottom left */
  border: 3px black solid; /* border-width border-color border-style*/
}
body {
        background-color:none;
        background-image:url("svart.jpg");
        background-size:100% 100%;
      }

.Innehall{
  margin-left: 125px;
  float:left; 
  margin: 5px 200px 200px -200px;
  border: 3px none solid; /* border-width border-color border-style*/
  border-radius: 15px;
  background-color: none;

}

.Innehall h3{
  text-align: left;
}